<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1Ni78ZlYq_ZoeAV-merJG5Ug-zsyJ_wE</string>
	<key>GCM_SENDER_ID</key>
	<string>16144173357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wataru.AITOTO</string>
	<key>PROJECT_ID</key>
	<string>aitoto</string>
	<key>STORAGE_BUCKET</key>
	<string>aitoto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16144173357:ios:678523b9bc4752b3862ba4</string>
</dict>
</plist>